* {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}
/*Dawid Piechura*/
.nav {
    text-align: center;

}

.nav a{
    text-decoration: none;
    padding: 10px;
    background-color: #eee;
    color: #333;
}
header h1{
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    color: green;
}
/*-------*/

/*Dawid Kulas*/

/*-------*/

/*Adam Obrzut*/

/*-------*/