* {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}
/*Dawid Piechura*/
.nav {
    text-align: center;

}

.nav a{
    text-decoration: none;
    padding: 10px;
    background-color: #eee;
    color: #333;
}
header h1{
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    color: green;
}
/*-------*/

/*Dawid Kulas*/

/*-------*/

/*Adam Obrzut*/

main{
    height: 800px;
}

#lewa{
    width: 40%;
    float: left;
    height: 800px;
}


#prawa{
    width: 40%;
    float: left;
    height: 800px;

}

#mid{
    width: 20%;
    float: left;
    height: 800px;
}


#names li{
    border: solid 1px green;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

#names{
    margin-bottom: 20px;
}

#links li{
    text-decoration: none;
    font-size: 20px;
}