* {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}
body {
    line-height: 1.5;
}

/*Dawid Piechura*/
.nav {
    text-align: center;

}

.nav a {
    text-decoration: none;
    padding: 10px;
    background-color: #eee;
    color: #333;
}

header h1 {
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    color: green;
}

.intro {
    width: 100%;
    text-align: justify;
    font-style: italic;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.kolumny {
    display: flex;
    gap: 20px;
}

.col {
    flex: 1;
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
}

@media (max-width: 1000px){
    .kolumny {
        flex-direction: column;
    }
}

.sources a {
    color: #333;
}

.sources a:hover {
    background-color: blue;
}

/*-------*/

/*Dawid Kulas*/

body > main {
	text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;  
}
table th {
    background-color: black;
    color: white;
    padding: 2px;
}
table tr,th,td {

	border: 1px solid black;
}


body > main > div > a {
	margin: 10px 0 10px 0;
	display: block;
	font-size: 20px;
	height: 25px;
	width: 50px;
	border: 2px black dotted;
}

body > main > div > a {
	margin: 1cm 0 1cm 0;
	width: 500px;
	display: block;
}

body > main > div > a >img {
	border: 2px black solid;
}


/*-------*/

/*Adam Obrzut*/

/*-------*/
