* {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}
/*Dawid Piechura*/
.nav {
    text-align: center;

}

.nav a{
    text-decoration: none;
    padding: 10px;
    background-color: #eee;
    color: #333;
}
header h1{
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
    color: green;
}
/*-------*/

/*Dawid Kulas*/

body > main {
	text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;  
}
table th {
    background-color: black;
    color: white;
    padding: 2px;
}
table tr,th,td {

	border: 1px solid black;
}


body > main > div > a {
	margin: 10px 0 10px 0;
	display: block;
	font-size: 20px;
	height: 25px;
	width: 50px;
	border: 2px black dotted;
}

/*-------*/

/*Adam Obrzut*/

/*-------*/
